.footer {
  padding: 3rem 0;
  &__logo {
    color: #ff4e50;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  &__category {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #444;
    margin-bottom: 1.1rem;
  }

  &__copyright {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #ccc;
  }
}
